/* ... (existing styles) */
 
.App {
  display: flex;
  justify-content: center;
  align-items: center;
   text-align: center;

}

.introduction {
  max-width:  100%;
  padding: 20px;
  margin-top: 8rem;

}

.introduction h1 {
  font-size: 55px;
  margin: 0;
  color: #8dc63f!important;
}
span{
  color: rgba(59,130,246,.5);
}

.introduction p {
  max-width: 550px;
  font-size: 17px;
  margin: 20px 0;
  /* margin-top: 2rem; */
 }

/* Media query for responsiveness */
@media screen and (max-width: 768px) {
  .introduction {
    max-width: 90%;
  }

  .introduction h1 {
    font-size: 20px;
   }

  .introduction p {
    font-size: 14px;
  }
}

  .registration-button {
    flex: 1;
    padding: 10px;
    margin-top: 6rem;
  }
  
  .btn-register {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff5733;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .btn-register:hover {
    background-color: #ff3d00;
  }
  
   
  