.navbar {
    background-color: #6484b0;
    padding: 0px 5px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo img {
    max-width: 200px;
  }
  
  .toggle-label {
    font-size: 30px;
    cursor: pointer;
    display: none;
  }
  
  .toggle {
    display: none;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    align-items: center;
  }
  
  .nav-links li {
    padding: 10px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: white;
  }
  
  /* Media query for responsiveness */
  @media screen and (max-width: 768px) {
    .toggle-label {
      display: block;
    }
  
    .nav-links {
      display: none;
      flex-direction: column;
      background-color: #333;
      position: absolute;
      top: 60px;
      right: 0;
      left: 0;
    }
  
    .nav-links.active {
      display: flex;
    }
  
    .nav-links li {
      padding: 10px;
    }
  
    .nav-links a {
      color: white;
      text-decoration: none;
    }
  
    .toggle:checked + .nav-links {
      display: flex;
    }
  }
  