/* AnimatedCards.css */

.animated-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    margin-top: 2rem;
    background-color: #f0f0f0;
  }
  
  .card {
    width: 600px;
    height: 200px;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    margin: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card.left {
    animation: slideLeft 3s ease-in-out infinite;
    border: 2px solid #3498db; /* Blue border for left card */
  }
  
  .card.right {
    animation: slideRight 3s ease-in-out infinite;
    border: 2px solid #e74c3c; /* Red border for right card */
  }
  
  @keyframes slideLeft {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-10px);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  @keyframes slideRight {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(10px);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  .card-content {
    padding: 20px;
  }
  
  .heading {
    font-size: 24px;
    margin: 0;
  }
  
  .date {
    font-size: 16px;
    color: #777;
  }
  
  .paragraph {
    font-size: 14px;
  }

  @media (max-width: 640px) {
    .card {
        width: 200px;
        height: 200px;
        background-color: #fff;
        border-radius: 10px;
        text-align: center;
        margin: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        transition: transform 0.3s ease-in-out;
      }
      
  }
  